* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(180deg, #000000 0%, #081828 100%);
  color: white;
}

.container {
  width: 90%;
  margin: auto;
}

/* ================= TOP SECTION ================= */

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.text-area {
  width: 40%;
}

.text-area h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.text-area p {
  color: #cfcfcf;
  margin-bottom: 25px;
}

.text-area button {
  padding: 12px 28px;
  background: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* Posters */
/* 
.poster-area {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
} */
img{
    width: 50vw;
    height: 50vh;
}

.poster {
  height: 170px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
}



/* ================= BOTTOM SECTION ================= */

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.bottom-text {
  width: 40%;
}

.bottom-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.bottom-text p {
  color: #cfcfcf;
}

/* Subscription Grid */

.subscriptions {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
/* .img{
    width: 55%;
    height: 85px;
} */



.img{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 
}

/* ================= FOOTER ================= */

footer {
  text-align: center;
  padding: 25px 0;
  font-size: 14px;
  color: #aaa;
}
